.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: white;
  position: relative;
  margin-top: 10px;
  padding: 20px;
  margin-bottom: 0px;
}

.download-btn {
  position: fixed;
  top: 20px;
  right: 25px;
  background-color:rgb(251, 101, 101);
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
  margin-top: 90px;
  font-weight: bold;
}

.download-btn:hover {
  background-color: red;
}

.card {
  width: 320px;
  height: 270px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  background-color: white;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 120px;
}

.card-content {
  margin-bottom: 0px;
}

.card-image {
  width: 270px; 
  height: 220px;
}

.acids {
  background: linear-gradient(135deg, #b388ff 0%, #e1bee7 100%);
  margin-right: 15px;
}

.bases {
  background: linear-gradient(135deg, #f9e79f 0%, #f4d03f 100%);
  margin-right: 15px;
}

.reactions {
  background: linear-gradient(135deg, #8ee1ec 0%, #20a8b9 100%);
}

.neither {
  background: linear-gradient(135deg, #c6ef96 0%, #6fd874 100%);
  margin-right: 15px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-family: 'Sixtyfour Convergence';
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.users-btn {
  position: fixed;
  top: 20px;
  right: 107px; 
  background-color: #20afdf;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
  margin-top: 90px;
  font-weight: bold;
  margin-right: 20px;
}

.users-btn:hover {
  background-color: #579ab3;
}