.reports-page {
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    margin-top: 65px;
  }
  
  .reports-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }
  
  .search-download input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .search-download button {
    padding: 8px 12px;
    background-color: #f88b85;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .search-download button:hover {
    background-color: #f85950
  }
  
  .reports-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .reports-table th, .reports-table td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .reports-table th {
    background-color: #f88b85;
    color: black;
  }
  
  .reports-table tr:nth-child(even) {
    background-color: #f2f4f8;
  }
  
  .reports-table tr:hover {
    background-color: #fae0df;
  }
  
  .pagination-reports {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .pagination-reports button {
    padding: 8px 12px;
    background-color: #f85950;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination-reports button:disabled {
    background-color: #f88b85;
    cursor: not-allowed;
  }

.reports-page.blur-background {
  filter: blur(5px); 
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #f88b85;
  border-radius: 8px;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  filter: none; 
}

.popup-content {
  text-align: left;
}

.popup-content h3 {
  margin-top: 0;
  color: #f85950;
}

.popup-content p {
  margin: 10px 0;
}

.popup-content button {
  padding: 10px 15px;
  background-color: #f88b85;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #f85950;
}